/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* Create a sane, standardised baseline */
/* line 61, ../../../../../../fred.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
* html {
  font-size: 81.25%;
}

/* line 64, ../../../../../../fred.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 13px;
  line-height: 1.84615em;
}

/* establish grid stuff */
/***********************************************    
    Globals
***********************************************/
/***********************************************    
    Importz
***********************************************/
/***********************************************
    
    Main stylez

***********************************************/
/* line 7, ../sass/_main.scss */
body, html {
  background-color: #002b36;
  height: 100%;
  color: #eee8d5;
}
