@import url("//fonts.googleapis.com/css?family=Ubuntu+Mono");
@import url("//fonts.googleapis.com/css?family=Cutive+Mono");
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../fred.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../fred.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../fred.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../fred.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../fred.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../fred.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../fred.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../fred.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../fred.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* Create a sane, standardised baseline */
/* line 61, ../../../../../../fred.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
* html {
  font-size: 81.25%;
}

/* line 64, ../../../../../../fred.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 13px;
  line-height: 1.84615em;
}

/* establish grid stuff */
/***********************************************    
    Globals
***********************************************/
/***********************************************    
    Importz
***********************************************/
/***********************************************
    
    Main stylez

***********************************************/
/* line 7, ../sass/_main.scss */
body, html {
  background-color: #002b36;
  height: 100%;
  position: relative;
  color: #eee8d5;
  *zoom: 1;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
  -webkit-font-smoothing: antialiased;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
}
/* line 38, ../../../../../../fred.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
body:after, html:after {
  content: "";
  display: table;
  clear: both;
}

/* line 17, ../sass/_main.scss */
section {
  *zoom: 1;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}
/* line 38, ../../../../../../fred.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
section:after {
  content: "";
  display: table;
  clear: both;
}

/* line 1, ../sass/_hero.scss */
header {
  width: 100%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
  position: relative;
  top: 50%;
  text-align: center;
  /* Main heading */
}
/* line 9, ../sass/_hero.scss */
header h1 {
  font-size: 6.46154em;
  line-height: 0.28571em;
  color: #eee8d5;
  font-family: 'Cutive Mono', Helvetica, sans-serif;
  font-weight: bold;
  position: relative;
  top: -1em;
}
/* line 18, ../sass/_hero.scss */
header h2 {
  width: 66.10169%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
  padding-left: 16.94915%;
  font-size: 2.15385em;
  line-height: 1.28571em;
  color: #657b83;
  font-weight: bold;
  position: relative;
}

/* line 1, ../sass/_nav.scss */
nav {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 2em;
  line-height: 2.76923em;
  text-align: center;
  position: absolute;
  right: 0em;
  bottom: 2em;
  left: 0em;
  *zoom: 1;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
}
/* line 38, ../../../../../../fred.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
nav:after {
  content: "";
  display: table;
  clear: both;
}
/* line 10, ../sass/_nav.scss */
nav > div {
  width: 66.10169%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
  padding-left: 16.94915%;
}
/* line 15, ../sass/_nav.scss */
nav a {
  -webkit-transition-duration: 250ms;
  -moz-transition-duration: 250ms;
  -o-transition-duration: 250ms;
  transition-duration: 250ms;
  display: inline-block;
  width: 50%;
  background-color: #073642;
  color: #586e75;
  text-decoration: none;
  font-weight: bold;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 25, ../sass/_nav.scss */
nav a:hover {
  background-color: #dc322f;
  color: #002b36;
}
/* line 29, ../sass/_nav.scss */
nav a:first-of-type {
  border-right: 10px solid #002b36;
}
/* line 30, ../sass/_nav.scss */
nav a:last-of-type {
  border-left: 10px solid #002b36;
}

/* Import webfont */
