footer {
    position: fixed;
    left: 0; bottom: 0; right: 0;
    background-color: $base02;
    text-align: center;
    color: $base00;

    a {
        text-decoration: none;
        color: inherit;
        font-weight: bold;

        &:hover {
            color: $cyan;
            text-decoration: underline;
        }
    }
}