header {

    @include span-columns(12, 12);
    position: relative;
    top: 50%;
    text-align: center;

    /* Main heading */
    h1 {
        @include adjust-font-size-to(84px, 1);
        color: $base2;
        font-family: 'Cutive Mono', Helvetica, sans-serif;
        font-weight: bold;
        position: relative;
        top: -1em;
    }
}