header {

    position: relative;
    top: 50%;
    // margin-top: -5em;
    text-align: center;

    /* Main heading */
    h1 {
        @include adjust-font-size-to(84px, 1);
        color: $base2;
        font-family: 'Cutive Mono', Helvetica, sans-serif;
        font-weight: bold;
        position: relative;
        top: -1em;
    }

    h2 {
        // margin-top: -1em;
        @include span-columns(8,12);
        @include prefix(2);
        @include adjust-font-size-to(28px, 1.5);
        color: $base00;
        font-weight: bold;
        position: relative;
    }
}