/***********************************************
    
    Main stylez

***********************************************/

body, html {
    background-color: $base03;
    height: 100%;
    color: $base2;
}