/***********************************************
    
    Main stylez

***********************************************/

body, html {
    background-color: $base03;
    height: 100%;
    position: relative;
    color: $base2;
    @include container;
    -webkit-font-smoothing: antialiased;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
}

section {
    @include container;
    height: 100%;
}