nav {

    @include box-sizing('border-box');
    @include adjust-font-size-to(26px, 3);
    text-align: center;
    position: absolute;
    right:0em; bottom: 2em; left: 0em;
    @include container;

    > div {
        @include span-columns(8,12);
        @include prefix(2);
    }

    a {
        @include transition-duration(250ms);
        display: inline-block;
        width: 50%;
        background-color: $base02;
        color: $base01;
        text-decoration: none;
        font-weight: bold;
        @include box-sizing('border-box');

        &:hover {
            background-color: $red;
            color: $base03;
        }
        &:first-of-type { border-right: 10px solid $base03; }
        &:last-of-type { border-left: 10px solid $base03; }
    }
}