/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass";
@import "compass/reset"; // Reset all stylez
@import "susy"; // Susy does our grids!

/* Create a sane, standardised baseline */
$base-font-size: 13px;
$base-line-height: 24px;
@include establish-baseline;

/* establish grid stuff */
$total-columns      : 12;             // a 12-column grid
$column-width       : 4em;            // each column is 4em wide
$gutter-width       : 1em;            // 1em gutters between columns
$grid-padding       : $gutter-width;  // grid-padding equal to gutters
$container-style    : fluid;


/***********************************************    
    Globals
***********************************************/
$base03:    #002b36;  // brblack
$base02:    #073642;  // black  
$base01:    #586e75;  // brgreen  
$base00:    #657b83;  // bryellow 
$base0:     #839496;  // brblue   
$base1:     #93a1a1;  // brcyan
$base2:     #eee8d5;  // white
$base3:     #fdf6e3;  // brwhite
$yellow:    #b58900;  // yellow
$orange:    #cb4b16;  // brred
$red:       #dc322f;  // red
$magenta:   #d33682;  // magenta 
$violet:    #6c71c4;  // brmagenta 
$blue:      #268bd2;  // blue
$cyan:      #2aa198;  // cyan
$green:     #859900;  // green


/***********************************************    
    Importz
***********************************************/
@import "main";
@import "hero";
@import "nav";
@import "footer";

/* Import webfont */
@import url('//fonts.googleapis.com/css?family=Ubuntu+Mono');
@import url('//fonts.googleapis.com/css?family=Cutive+Mono');